<%= form_for :review, url: restaurant_review_index_path do |f| %>
  <p>
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit :submit %>
  </p>
<% end %>
