<h1>Restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td id='restaurant-name'><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Delete Restaurant', restaurant_path(restaurant),
              method: :delete,
              data: { confirm: 'Erm, really Dingy?' } %></td>
    </tr>
    <% end %>
</table>
