<%= form_for :restaurant, url: restaurants_path do |f| %>

  <div class="form-horizontal">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <h1>Add a restaurant</h1>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :Name, :class => "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, :class => "form-control", :placeholder => "add restaurant name" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :Description, :class => "col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_area :description, :class => "form-control", :rows => "5", :placeholder => "Tell me about the restaurant..." %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit :class => "btn btn-success" %>
      </div>
    </div>
  </div>

<% end %>
